<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <img src="back.png" style="height: 20px;"/>
            </a>
        </div>
        <div class="sliding">用户禁言</div>
        <div class="sliding" style="float:left;" onclick="window.mainView.router.load({
                                                url: 'BannedusersAdd.html',
                                                // query: {
                                                //  ...item,
                                                //  readOnly
                                                // }
                                              })">添加</div> 
    </div>

</div>

<div class="pages navbar-through">
    <div data-page="bannedUsers" class="page no-toolbar">
        <div class="bannedUsers" style="height:100%;background: #fff;padding-top: 44px;"></div>
    </div>
</div>
