<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <img src="back.png" style="height: 20px;"/>
            </a>
        </div>
        <div class="center sliding post-detail-title"> 
            帖子详情
        </div>
        <div class="right">
            <a href="#" class="link icon-only ">
            </a> 
        </div>
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="postDetails" class="page no-toolbar">
        <div class="postDetails" style="height:100%;background: #ffffff;overflow: auto;"></div>
        <div class="commentFooter" style="z-index: 999999;width:100%;bottom: 0;position: absolute;"></div>
    </div>
    
</div>
