<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="link icon-only back">
                <img src="back.png" style="height: 20px;"/>
            </a>
        </div>
        <div class="sliding">发布</div>
        <div class="sliding" style="float:left;margin-right: 10px;" onclick="HJXsendButton()" >确定</div> 
    </div>
</div>

<div class="pages navbar-through">
    <div data-page="sendpost" class="page no-toolbar">
        <div class="sendpost" style="height:100%;background: #ffffff;overflow: auto;"></div>
    </div>
</div>

